{
  "parser": "babel-eslint",
  "extends": "airbnb",

  "env": {
    "browser": true
  },

  "globals": {},

  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": [
    "react-hooks"
  ]
}
